---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Map | IS Manager">
<main>
    <NavBar title="Map" origin="home" />
</main>
</Layout>